<launch>
    <arg name="data_path" default="$(env HOME)/plantsense-data" />

    <!--  -->

    <arg name="log_path" value="$(arg data_path)/log" />
    <arg name="param_path" value="$(arg data_path)/param" />
    <param name="log_path" value="$(arg log_path)" />
    <param name="param_path" value="$(arg param_path)" />

    <!--  -->

    <rosparam file="$(arg param_path)/plantsense.yaml" command="load" />

    <!--  -->

    <node name="interface_database" pkg="ps_interface" type="interface_database.py" output="screen" respawn="true" />
    <node name="interface_gateway" pkg="ps_interface" type="interface_gateway.py" output="screen" respawn="true" />
    <node name="routine" pkg="ps_routine" type="routine.py" output="screen" respawn="true" />
</launch>